<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>newtest</title>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <link rel="stylesheet" href="/view/生态文明/lib/leaflet/leaflet.css" />
    <link href="/view/生态文明/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--<script type="text/javascript" src="./bootstrap/dist/js/bootstrap.min.js"></script>-->
    <link href="/view/生态文明/stylesheets/ui.css" rel="stylesheet">

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

    <script type="text/javascript" src="/view/生态文明/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/view/生态文明/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/view/dist/leaflet-dvf.js"></script>



    <script type="text/javascript" src='/view/生态文明/lib/leaflet/leaflet.ChineseTmsProviders.js'></script>
    <script src="/view/生态文明/Chart.js-2.1.6/dist/Chart.bundle.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>.legend i{
    height: 18px;
    width:18px;
    float: left;
    margin-right: 8px;
}</style>
</head>
<body>

<div class="navbar navbar-default">
  <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <form>
                数据显示方式:
                <select id="style" style='width:110px;'>
                    <option>原始数据</option>
                    <option>插值数据</option>
                </select>
                数据来源:
                <select id="source" style='width:110px;'>
                    <option>我爱我家</option>
                    <option>房天下</option>
                    <option>安居客</option>
                    <option>链家</option>
                    <option>全部</option>
                </select>

                房源类型:
                <select id="type" style='width:110px;'>
                    <option>新房</option>
                    <option>二手房</option>
                    <option>租房</option>
                    <option>求租</option>
                </select>

                网格颜色意义:
                <select id="gridValue" style='width:110px;'>
                    <option>房价加速度</option>
                    <option>房价</option>
                </select>

                网格房价时间:
                <select id="gridTime" style='width:110px;'>
                    <option id="201507">2015年07月</option>
                    <option id="201508">2015年08月</option>
                    <option id="201509">2015年09月</option>
                    <option id="201510">2015年10月</option>
                    <option id="201511">2015年11月</option>
                    <option id="201512">2015年12月</option>
                    <option id="201601">2016年01月</option>
                    <option id="201602">2016年02月</option>
                    <option id="201603">2016年03月</option>
                    <option id="201604">2016年04月</option>
                    <option id="201605">2016年05月</option>
                    <option id="201606">2016年06月</option>
                </select>

                网格房价加速度起始时间:
                <select id="startTime" style='width:110px;'>
                    <option>2015年07月</option>
                    <option>2015年08月</option>
                    <option>2015年09月</option>
                    <option>2015年10月</option>
                    <option>2015年11月</option>
                    <option>2015年12月</option>
                    <option>2016年01月</option>
                    <option>2016年02月</option>
                    <option>2016年03月</option>
                    <option>2016年04月</option>
                    <option>2016年05月</option>
                    <option>2016年06月</option>
                </select>
                网格房价加速度终止时间:
                <select id="endTime" style='width:110px;'>
                    <option>2015年07月</option>
                    <option>2015年08月</option>
                    <option>2015年09月</option>
                    <option>2015年10月</option>
                    <option>2015年11月</option>
                    <option>2015年12月</option>
                    <option>2016年01月</option>
                    <option>2016年02月</option>
                    <option>2016年03月</option>
                    <option>2016年04月</option>
                    <option>2016年05月</option>
                    <option>2016年06月</option>
                </select>

                小学类型:
                <select id="schoolType" style='width:110px;'>
                    <option>无</option>
                    <option>市重点小学</option>
                    <option>区重点小学</option>
                    <option>普通小学</option>
                </select>
            </form>
            <!--用来显示索引<button type="button" onclick="displayResult()">显示索引</button>-->

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">中国科学院地理科学与资源研究所</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div id="map" class="span9"></div>
    </div>
</div>
<div id="myModal" style="margin: 3%;height: 90%; width: 90%"  class="modal fade bs-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" style="width: 85%;height: 85%;width: 85%;height: 90%;">
        <!--上一行是调节表格后面的白色模板的-->
        <div class="modal-content" style="width: 90%;height: 90%;width: 90%;height: 90%">
            <!---->
            <!--<h4 id="charttitle"></h4>-->
            <canvas id="myChart" style="width: 90%;height: 90%;width: 90%;height: 90%"></canvas>

        </div>
    </div>
</div>


<script type="text/javascript">


    /*var index=document.getElementById("schoolType").selectedIndex;
    var option=document.getElementById("schoolType").options;
    var time=option[index].text;
    document.getElementById(time).onclick = function(){
        var bounds=map.getBounds();
        console.log(bounds);
        var west=bounds.getWest();
        var east=bounds.getEast();
        var south=bounds.getSouth();
        var north=bounds.getNorth();
        var zoom=map.getZoom();
        console.log(zoom);
        var x=document.getElementById("gridTime").selectedIndex;
        var y=document.getElementById("gridTime").options;
        var gridTime=y[x].text;

        x=document.getElementById("source").selectedIndex;
        y=document.getElementById("source").options;
        var source=y[x].text;

        var json={
            "west":west,
            "east":east,
            "south":south,
            "north":north,
            "zoom":zoom,
            "gridTime":gridTime,
            "source":source
        };
        $.post("/gridcolor",""+JSON.stringify(json), function(result){
            var price= JSON.parse(result);
            draw_rectangle(bounds,price);
        });
    };*/

    var map;
    var resize = function () {
        var $map = $('#map');
        $map.height($(window).height() - $('div.navbar').outerHeight());
        if (map) {
            map.invalidateSize();
        }
    };
    $(window).on('resize', function () {
        resize();
    });
    resize();
    var normalm = L.tileLayer.chinaProvider('GaoDe.Normal.Map',{maxZoom:18,minZoom:10});
    var imgm = L.tileLayer.chinaProvider('GaoDe.Satellite.Map',{maxZoom:18,minZoom:10});
    var imga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion',{maxZoom:18,minZoom:10});
    var normal = L.layerGroup([normalm]),
            image = L.layerGroup([imgm,imga]);
    var baseLayers = {
        "地图":normal,
        "影像":image,
    }
    var overlayLayers = {};
    map = L.map("map",{
        layers:[normal],
        zoomControl:true
    }).setView([39.906985851984146, 116.39055488416854], 3);
    map.setView([39.906985851984146, 116.39055488416854], 3);

    //开始移动地图时就生成学校poi的点
    map.on('dragstart',function(e){
        var x=document.getElementById("schoolType").selectedIndex;
        var y=document.getElementById("schoolType").options;
        var schoolType=y[x].text;

        if(schoolType=="市重点小学"){
            for(var i=0;i<cityfocus.length;i++){
                map.removeLayer(cityfocus[i]);
            }
            for(var i=0;i<regionfocus.length;i++){
                map.removeLayer(regionfocus[i]);
            }
            for(var i=0;i<ordinary.length;i++){
                map.removeLayer(ordinary[i]);
            }
            //市重点
            $.post("/static/city_focused",""+map.getZoom(), function(result){
                var school= JSON.parse(result);
                draw_circle_cityfocus(school);
            });

        }else if(schoolType=="区重点小学"){
            for(var i=0;i<cityfocus.length;i++){
                map.removeLayer(cityfocus[i]);
            }
            for(var i=0;i<regionfocus.length;i++){
                map.removeLayer(regionfocus[i]);
            }
            for(var i=0;i<ordinary.length;i++){
                map.removeLayer(ordinary[i]);
            }
            //区重点
            $.post("/static/region_focused",""+map.getZoom(), function(result){
                var school= JSON.parse(result);
                draw_circle_regionfocus(school);
            });
        }else if(schoolType=="普通小学"){
            for(var i=0;i<cityfocus.length;i++){
                map.removeLayer(cityfocus[i]);
            }
            for(var i=0;i<regionfocus.length;i++){
                map.removeLayer(regionfocus[i]);
            }
            for(var i=0;i<ordinary.length;i++){
                map.removeLayer(ordinary[i]);
            }
            //普通小学
            $.post("/static/ordinary_primary_school",""+map.getZoom(), function(result){
                var school= JSON.parse(result);
                draw_circle_ordinary(school);
            });
        }
    });


    function displayResult(){
        var x=document.getElementById("style").selectedIndex;
        var y=document.getElementById("style").options;
        var style=y[x].text;
        if(style="原始数据"){

        }else if(style="插值数据"){

        }
    }

    //拖动地图时能实现不同网格的生成，主要用于同一zoom下的不同范围内的网格生成
    map.on('dragend',function(e){
        console.log("dragend");
        var bounds=map.getBounds();
        console.log(bounds);
        var west=bounds.getWest();
        var east=bounds.getEast();
        var south=bounds.getSouth();
        var north=bounds.getNorth();
        var zoom=map.getZoom();
        console.log(zoom);


        var x=document.getElementById("gridValue").selectedIndex;
        var y=document.getElementById("gridValue").options;
        var gridValue=y[x].text;
        if(gridValue=="房价加速度"){
            x=document.getElementById("startTime").selectedIndex;
            y=document.getElementById("startTime").options;
            var startTime=y[x].text;

            x=document.getElementById("endTime").selectedIndex;
            y=document.getElementById("endTime").options;
            var endTime=y[x].text;

            x=document.getElementById("source").selectedIndex;
            y=document.getElementById("source").options;
            var source=y[x].text;

            var json={
                "west":west,
                "east":east,
                "south":south,
                "north":north,
                "zoom":zoom,
                "starttime":startTime,
                "endtime":endTime,
                "source":source
            };
            $.post("/gridacceleration",""+JSON.stringify(json), function(result){
                var price= JSON.parse(result);
                draw_rectangle_Acceleration(bounds,price);
            });

        }else if(gridValue=="房价"){
            x=document.getElementById("gridTime").selectedIndex;
            y=document.getElementById("gridTime").options;
            var gridTime=y[x].text;

            x=document.getElementById("source").selectedIndex;
            y=document.getElementById("source").options;
            var source=y[x].text;

            var json={
                "west":west,
                "east":east,
                "south":south,
                "north":north,
                "zoom":zoom,
                "gridTime":gridTime,
                "source":source
            };
            $.post("/gridcolor",""+JSON.stringify(json), function(result){
                var price= JSON.parse(result);
                draw_rectangle(bounds,price);
            });
        }

        //draw_multiPolyline();画多线
    });

    //缩放地图时能实现不同分辨率下网格的生成，主要用于不同zoom下当前屏幕范围内的网格生成
    map.on('zoomend', function(e) {
        console.log("contetmenux");
        //这里先删除旧的layer
        for (var i=0;i<rects.length;i++){
            map=map.removeLayer(rects[i]);
        }
        rects=[];

        var bounds=map.getBounds();
        console.log(bounds);
        var west=bounds.getWest();
        var east=bounds.getEast();
        var south=bounds.getSouth();
        var north=bounds.getNorth();
        var zoom=map.getZoom();
        console.log(zoom);

        var x=document.getElementById("gridValue").selectedIndex;
        var y=document.getElementById("gridValue").options;
        var gridValue=y[x].text;
        if(gridValue=="房价加速度"){
            x=document.getElementById("startTime").selectedIndex;
            y=document.getElementById("startTime").options;
            var startTime=y[x].text;

            x=document.getElementById("endTime").selectedIndex;
            y=document.getElementById("endTime").options;
            var endTime=y[x].text;

            x=document.getElementById("source").selectedIndex;
            y=document.getElementById("source").options;
            var source=y[x].text;

            var json={
                "west":west,
                "east":east,
                "south":south,
                "north":north,
                "zoom":zoom,
                "starttime":startTime,
                "endtime":endTime,
                "source":source
            };
            $.post("/gridacceleration",""+JSON.stringify(json), function(result){
                var price= JSON.parse(result);
                draw_rectangle_Acceleration(bounds,price);
            });

        }else if(gridValue=="房价"){
            x=document.getElementById("gridTime").selectedIndex;
            y=document.getElementById("gridTime").options;
            var gridTime=y[x].text;

            x=document.getElementById("source").selectedIndex;
            y=document.getElementById("source").options;
            var source=y[x].text;

            var json={
                "west":west,
                "east":east,
                "south":south,
                "north":north,
                "zoom":zoom,
                "gridTime":gridTime,
                "source":source
            };
            //  "/gridcolor_interpolation"
            //  "/gridcolor"
            $.post("/gridcolor",""+JSON.stringify(json), function(result){
                var price= JSON.parse(result);
                console.log("开始画网格");
                draw_rectangle_houseprice(price);
            });
        }

    });


    //画插值后的网格图
    map.on('zoomend', function(e) {
        console.log("zoomend");
        //这里先删除旧的layer

        var zoom=map.getZoom();
        console.log(zoom);
        if(zoom==11){
            if(rects.length==0){
                var json={
                    "gridTime":"2015年10月"
                };
                $.post("/gridcolor_interpolation",""+JSON.stringify(json), function(result){
                    var price= JSON.parse(result);
                    console.log("开始画网格");
                    draw_rectangle_interpolation(price);
                });
            }
        }
    });



    var polygon_array=[];
    var polyline_array=[];
    var cityfocus=[];
    var regionfocus=[];
    var ordinary=[];

    function draw_circle_cityfocus(school){
        var myIcon = L.icon({
            iconUrl: 'http://c.hiphotos.baidu.com/image/w%3D310/sign=913f487c4336acaf59e090fd4cd88d03/5fdf8db1cb13495453f3e3215e4e9258d0094a81.jpg',
            iconRetinaUrl: 'http://h.hiphotos.baidu.com/image/w%3D310/sign=705c47440255b3199cf9847473a88286/03087bf40ad162d92d4c695919dfa9ec8b13cdd1.jpg',
            iconSize: [50, 94],
            iconAnchor: [22, 94],
            popupAnchor: [-3, -76],
            shadowUrl: 'http://a.hiphotos.baidu.com/image/w%3D310/sign=99ae3420bb19ebc4c0787098b227cf79/7af40ad162d9f2d3b7b32faaa1ec8a136227ccd1.jpg',
            shadowRetinaUrl: 'http://d.hiphotos.baidu.com/image/w%3D310/sign=2dd97543a4af2eddd4f14fe8bd110102/8cb1cb13495409238684683b9a58d109b2de4981.jpg',
            shadowSize: [68, 95],
            shadowAnchor: [22, 94]
        });
        var size=school.data.length;
        var lng;
        var lat;
        var info;
        var title;
        var address;
        var location;
        var type;
        var content;
        var latlng;
        var popup;

        gradeOptions.radius=10;
        gradeOptions.color=gradeOptions.fillColor= 'hsl(' +  359+ ',100%,70%)';

        for(var i=0;i<size;i++){
            info=school.data[i];
            lng=info.longitude;
            lat=info.latitude;
            /*var marker =L.marker([lat,lng,100],{icon: myIcon});*/
            var marker =L.mapMarker([lat,lng,100], gradeOptions);
            map.addLayer(marker);

            title=info.school;
            location=info.region;
            address=info.address;
            type=info.type;
            content="<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + title + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">区域:	</span> <span>" +location+ "</span></DIV><DIV><span  style=\"font-weight:bold;\">地址:	</span> <span>" +address+ "</span></DIV><DIV><span  style=\"font-weight:bold;\">类型:	</span><span>" + type + "<span></DIV>";
            latlng = L.latLng(lat,lng,100);
            popup = L.popup()
                    .setLatLng(latlng)
                    .setContent(content);
                   // .openOn(map);
            marker.bindPopup(popup);

            cityfocus.push(marker);
        }

    }
    function draw_circle_regionfocus(school){
        var myIcon = L.icon({
            iconUrl: 'http://c.hiphotos.baidu.com/image/w%3D310/sign=913f487c4336acaf59e090fd4cd88d03/5fdf8db1cb13495453f3e3215e4e9258d0094a81.jpg',
            iconRetinaUrl: 'http://h.hiphotos.baidu.com/image/w%3D310/sign=705c47440255b3199cf9847473a88286/03087bf40ad162d92d4c695919dfa9ec8b13cdd1.jpg',
            iconSize: [50, 94],
            iconAnchor: [22, 94],
            popupAnchor: [-3, -76],
            shadowUrl: 'http://a.hiphotos.baidu.com/image/w%3D310/sign=99ae3420bb19ebc4c0787098b227cf79/7af40ad162d9f2d3b7b32faaa1ec8a136227ccd1.jpg',
            shadowRetinaUrl: 'http://d.hiphotos.baidu.com/image/w%3D310/sign=2dd97543a4af2eddd4f14fe8bd110102/8cb1cb13495409238684683b9a58d109b2de4981.jpg',
            shadowSize: [68, 95],
            shadowAnchor: [22, 94]
        });
        var size=school.data.length;
        var lng;
        var lat;
        var info;
        var title;
        var address;
        var location;
        var type;
        var content;
        var latlng;
        var popup;
        gradeOptions.radius=10;
        gradeOptions.color=gradeOptions.fillColor= 'hsl(' +  285+ ',100%,70%)';
        for(var i=0;i<size;i++){
            info=school.data[i];
            lng=info.longitude;
            lat=info.latitude;

            /*var marker =L.marker([lat,lng,100],{icon: myIcon});*/
            var marker =L.mapMarker([lat,lng,100], gradeOptions);
            map.addLayer(marker);

            title=info.school;
            location=info.region;
            address=info.address;
            type=info.type;
            content="<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + title + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">区域:	</span> <span>" +location+ "</span></DIV><DIV><span  style=\"font-weight:bold;\">地址:	</span> <span>" +address+ "</span></DIV><DIV><span  style=\"font-weight:bold;\">类型:	</span><span>" + type + "<span></DIV>";
            latlng = L.latLng(lat,lng,100);
            popup = L.popup()
                    .setLatLng(latlng)
                    .setContent(content);
                    //.openOn(map);
            marker.bindPopup(popup);

            regionfocus.push(marker);
        }
    }
    function draw_circle_ordinary(school){
        var myIcon = L.icon({
            iconUrl: 'http://c.hiphotos.baidu.com/image/w%3D310/sign=913f487c4336acaf59e090fd4cd88d03/5fdf8db1cb13495453f3e3215e4e9258d0094a81.jpg',
            iconRetinaUrl: 'http://h.hiphotos.baidu.com/image/w%3D310/sign=705c47440255b3199cf9847473a88286/03087bf40ad162d92d4c695919dfa9ec8b13cdd1.jpg',
            iconSize: [50, 94],
            iconAnchor: [22, 94],
            popupAnchor: [-3, -76],
            shadowUrl: 'http://a.hiphotos.baidu.com/image/w%3D310/sign=99ae3420bb19ebc4c0787098b227cf79/7af40ad162d9f2d3b7b32faaa1ec8a136227ccd1.jpg',
            shadowRetinaUrl: 'http://d.hiphotos.baidu.com/image/w%3D310/sign=2dd97543a4af2eddd4f14fe8bd110102/8cb1cb13495409238684683b9a58d109b2de4981.jpg',
            shadowSize: [68, 95],
            shadowAnchor: [22, 94]
        });
        var size=school.data.length;
        var lng;
        var lat;
        var info;
        var title;
        var address;
        var location;
        var type;
        var content;
        var latlng;
        var popup;
        gradeOptions.radius=10;
        gradeOptions.color=gradeOptions.fillColor= 'hsl(' +  240+ ',100%,70%)';

        for(var i=0;i<size;i++){
            info=school.data[i];
            lng=info.longitude;
            lat=info.latitude;
            /*var marker =L.marker([lat,lng,100],{icon: myIcon});*/
            var marker =L.mapMarker([lat,lng,100], gradeOptions);
            map.addLayer(marker);

            title=info.school;
            location=info.region;
            address=info.address;
            type=info.type;
            content="<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + title + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">区域:	</span> <span>" +location+ "</span></DIV><DIV><span  style=\"font-weight:bold;\">地址:	</span> <span>" +address+ "</span></DIV><DIV><span  style=\"font-weight:bold;\">类型:	</span><span>" + type + "<span></DIV>";
            latlng = L.latLng(lat,lng,100);
            popup = L.popup()
                    .setLatLng(latlng)
                    .setContent(content);
                   // .openOn(map);
            marker.bindPopup(popup);

            ordinary.push(marker);
        }
    }
    function  draw_multiPolyline() {

        //将之前的多线图层删除
        if(polyline_array.length!=0){
            for (var i=0;i<polyline_array.length;i++){
                map=map.removeLayer(polyline_array[i]);
            }
            polyline_array=[];
        }
        //将之前的多边形图层删除
        if(polygon_array.length!=0){
            for (var i=0;i<polygon_array.length;i++){
                map=map.removeLayer(polygon_array[i]);
            }
            polygon_array=[];
        }


        var poly_points = [];//区域
        var poly_line=new L.Polyline([],{color:mycolor(0,0,205),fillColor:mycolor(0,0,205),stroke:true,weight:5,smoothFactor:5,fillOpacity:1,opacity:1});//折线
        var latlng1 = L.latLng(39.906985851984146,116.39055488416854);
        var latlng2 = L.latLng(39.905779,116.319274);
        var latlng3 = L.latLng(39.88311876796353,116.30383565962735);
        var latlng4 = L.latLng(39.872028939237744,116.36803340806715);
        var latlng6 = L.latLng(39.906985851984146,116.39055488416854);
        //将坐标点加入到poly_points数组中去
        poly_points.push(latlng1);
        poly_points.push(latlng2);
        poly_points.push(latlng3);
        poly_points.push(latlng4);
        //poly_points.push(latlng5);
        poly_points.push(latlng6);
        //显示折线
        poly_line.addLatLng(latlng1);
        poly_line.addLatLng(latlng2);
        poly_line.addLatLng(latlng3);
        poly_line.addLatLng(latlng4);
        poly_line.addLatLng(latlng6);
        map.addLayer(poly_line);
        polyline_array.push(poly_line);

        var latlngs = [];
        latlngs.push(latlng1);
        latlngs.push(latlng2);
        latlngs.push(latlng3);
        latlngs.push(latlng4);
        latlngs.push(latlng6);
        var poly = new L.Polygon(latlngs,{color:mycolor(0,0,205),fillColor:mycolor(0,0,205),stroke:true,weight:1});
        var content="<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + "天安门" + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">位置:	</span> <span>" +"北京天安门"+ "</span></DIV><DIV><span  style=\"font-weight:bold;\">类型:	</span><span>" + "文明古迹" + "<span></DIV>";
        var popup = L.popup()
                .setLatLng(latlng1)
                .setContent(content);
        //.openOn(map);
        //map.addLayer(poly);
        poly_line.bindPopup(popup);
        polygon_array.push(poly);

    }
    function draw_rectangle_houseprice(price) {
        var N=price.N;
        var width=0.0011785999999997187*N;//每N00m的经度差
        var length=9.003999999997348E-4*N;//每N00m的纬度差
        var r_min=price.r_min;
        var r_max=price.r_max;
        var c_min=price.c_min;
        var c_max=price.c_max;

        var row;
        var col;

        //将之前的图层删除
        if(rects.length!=0){
            for (var i=0;i<rects.length;i++){
                map=map.removeLayer(rects[i]);
            }
            rects=[];
        }

        var count=0;
        for( row=r_min;row<=r_max;row++){
            for(col=c_min;col<=c_max;col++){

                var gridcode_js=col+(2000/N)*(row-1);
                //网格是从左至右一行一行地填充，故对于某一固定的行，每个网格距离初始网格的经度跨度一直在变，而纬度跨度不变
                var dist_wid=(col-1)*width;
                var dist_len=(row-1)*length;
                var bounds = [[39.438283+dist_len,(115.417284+dist_wid)], [(39.438283+length)+dist_len,((115.417284+width)+dist_wid)]];//(左下角，右上角)
                var rect;
                var gridvalue=price.data[count];
                var gridcode_java=gridvalue.code;
                var gridcolor=gridvalue.color;
                var gridrow=gridvalue.row;
                var gridcol=gridvalue.col;
                var averageprice=gridvalue.average_price;

                if(gridcode_js==gridcode_java){
                    if(averageprice!=0){
                        //console.log(count);
                        rect= L.rectangle(bounds, {color:mycolor(255,255,255),opacity:0.9,fillColor:gridcolor,weight:1,fillOpacity:0.6,className:""+gridcode_java});//,className:gridcode_java
                        rect.index=count;
                        rect.data=price.data[rect.index];

                        rect.on('click', function(e){
                            var json={
                                "row":this.data.row,
                                "col":this.data.col,
                                "code":this.data.code,
                                "N":N
                            };

                            $.post("/price", JSON.stringify(json),
                                    function(data){
                                        var ctx = document.getElementById("myChart").getContext("2d");
                                        pricedata= JSON.parse(data);

                                        var max=pricedata.suggestedMax;
                                        var min=pricedata.suggestedMin;

                                        var grid=JSON.stringify(json);
                                        var gridinfo=JSON.parse(grid);
                                        var info="编码："+gridinfo.code+","+gridinfo.row+"行"+gridinfo.col+"列";
                                        window.myLine = new Chart(ctx, dataStruct(pricedata,info,max,min));
                                        $('#myModal').modal();
                                    }
                            )
                        });

                        rect.addTo(map);
                        rects.push(rect);
                    }
                    count++;
                }
                //count++;
            }
        }

    }
    function draw_rectangle_interpolation(price) {
        var N=price.N;
        var width=0.0011785999999997187*N;//每N00m的经度差
        var length=9.003999999997348E-4*N;//每N00m的纬度差
        var r_min=price.r_min;
        var r_max=price.r_max;
        var c_min=price.c_min;
        var c_max=price.c_max;

        var row;
        var col;

        //将之前的图层删除
        if(rects.length!=0){
            for (var i=0;i<rects.length;i++){
                map=map.removeLayer(rects[i]);
            }
            rects=[];
        }

        var count=0;
        for( row=r_min;row<=r_max;row++){
            for(col=c_min;col<=c_max;col++){

                var gridcode_js=col+(2000/N)*(row-1);
                //网格是从左至右一行一行地填充，故对于某一固定的行，每个网格距离初始网格的经度跨度一直在变，而纬度跨度不变
                var dist_wid=(col-1)*width;
                var dist_len=(row-1)*length;
                var bounds = [[39.438283+dist_len,(115.417284+dist_wid)], [(39.438283+length)+dist_len,((115.417284+width)+dist_wid)]];//(左下角，右上角)
                var rect;
                var gridvalue=price.data[count];
                var gridcode_java=gridvalue.code;
                var gridcolor=gridvalue.color;
                var gridrow=gridvalue.row;
                var gridcol=gridvalue.col;
                var averageprice=gridvalue.average_price;

                if(gridcode_js==gridcode_java){
                    if(averageprice!=0){
                        //console.log(count);
                        rect= L.rectangle(bounds, {color:mycolor(255,255,255),opacity:0.9,fillColor:gridcolor,weight:1,fillOpacity:0.6,className:""+gridcode_java});//,className:gridcode_java
                        rect.index=count;
                        rect.data=price.data[rect.index];

                        rect.on('click', function(e){
                            var json={
                                "row":this.data.row,
                                "col":this.data.col,
                                "code":this.data.code,
                                "N":N
                            };

                            $.post("/price", JSON.stringify(json),
                                    function(data){
                                        var ctx = document.getElementById("myChart").getContext("2d");
                                        pricedata= JSON.parse(data);

                                        var max=pricedata.suggestedMax;
                                        var min=pricedata.suggestedMin;

                                        var grid=JSON.stringify(json);
                                        var gridinfo=JSON.parse(grid);
                                        var info="编码："+gridinfo.code+","+gridinfo.row+"行"+gridinfo.col+"列";
                                        window.myLine = new Chart(ctx, dataStruct(pricedata,info,max,min));
                                        $('#myModal').modal();
                                    }
                            )
                        });

                        rect.addTo(map);
                        rects.push(rect);
                    }
                    count++;
                }
                //count++;
            }
        }

    }
    function draw_rectangle_Acceleration(bounds,price) {
        var west=bounds.getWest();
        var east=bounds.getEast();
        var south=bounds.getSouth();
        var north=bounds.getNorth();
        var N=price.N;
        var width=0.0011785999999997187*N;//每N00m的经度差
        var length=9.003999999997348E-4*N;//每N00m的纬度差
        var r_min=price.r_min;
        var r_max=price.r_max;
        var c_min=price.c_min;
        var c_max=price.c_max;

        var row;
        var col;

        //将之前的图层删除
        if(rects.length!=0){
            for (var i=0;i<rects.length;i++){
                map=map.removeLayer(rects[i]);
            }
            rects=[];
        }

        var count=0;
        for( row=r_min;row<=r_max;row++){
            for(col=c_min;col<=c_max;col++){

                //网格是从左至右一行一行地填充，故对于某一固定的行，每个网格距离初始网格的经度跨度一直在变，而纬度跨度不变
                var dist_wid=(col-1)*width;
                var dist_len=(row-1)*length;
                var bounds = [[39.438283+dist_len,(115.417284+dist_wid)], [(39.438283+length)+dist_len,((115.417284+width)+dist_wid)]];//(左下角，右上角)
                var rect;
                var gridvalue=price.data[count];

                var gridcode_java=gridvalue.code;
                var gridcode_js=col+(row-1)*(2000/N);

                var gridcolor=gridvalue.color;
                var gridrow=gridvalue.row;
                var gridcol=gridvalue.col;
                var acceleration=gridvalue.acceleration;

                if(acceleration!=0){
                    rect= L.rectangle(bounds, {color:mycolor(255,255,255),opacity:0.9,fillColor:gridcolor,weight:1,fillOpacity:0.6,className:""+gridcode_js+","+row+","+col});//,className:gridcode_java
                    rect.index=count;
                    rect.data=price.data[rect.index];

                    rect.on('click', function(e){
                        var json={
                            "row":this.data.row,
                            "col":this.data.col,
                            "code":this.data.code,
                            "N":N
                        };

                        $.post("/price", JSON.stringify(json),
                                function(data){
                                    var ctx = document.getElementById("myChart").getContext("2d");
                                    pricedata= JSON.parse(data);

                                    var max=pricedata.suggestedMax;
                                    var min=pricedata.suggestedMin;

                                    var grid=JSON.stringify(json);
                                    var gridinfo=JSON.parse(grid);
                                    var info="编码："+gridinfo.code+","+gridinfo.row+"行"+gridinfo.col+"列";
                                    window.myLine = new Chart(ctx, dataStruct(pricedata,info,max,min));
                                    $('#myModal').modal();
                                }
                        )
                    });

                    rect.addTo(map);
                    rects.push(rect);
                }
                count++;
            }
        }

    }

    var layerControl = new L.Control.Layers();
    layerControl.addTo(map);
    resize();


    //生成随机颜色和尺度
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
        //return 0;
    };
    var randomColorFactor = function() {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function(opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
    };

    //表格所需要的数据结构
    function dataStruct(parameter,code,max,min){
        var text=""+code;
        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "form one",
                    data: [],
                    fill: false,
                    borderDash: [5, 5],
                }, {
                    //hidden: true,
                    label: 'form two',
                    data: [],
                }]
            },
            options:{
                responsive: true,
                title:{
                    display:true,
                    text:"房价曲线图"
                },
                tooltips: {
                    mode: 'label',
                    callbacks: {
                        beforeTitle: function() {
                            return '...beforeTitle';
                        },
                        afterTitle: function() {
                            return '...afterTitle';
                        },
                        beforeBody: function() {
                            return '...beforeBody';
                        },
                        afterBody: function() {
                            return '...afterBody';
                        },
                        beforeFooter: function() {
                            return '...beforeFooter';
                        },
                        footer: function() {
                            return 'Footer';
                        },
                        afterFooter: function() {
                            return '...afterFooter';
                        },
                    }
                },
                hover: {
                    mode: 'dataset'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 15,
                        }
                    }]
                }
            }
        };
        for(var i=0;i<parameter.data.length;i++){
            config.data.labels.push(parameter.data[i].date);
        }
        for(var i=0;i<parameter.data.length;i++){
            config.data.datasets[0].data.push(parameter.data[i].average_price);
        }
        for(var i=0;i<parameter.data.length;i++){
            config.data.datasets[1].data.push(parameter.data[i].average_price);
        }
        //设置曲线的最大和最小值
        config.options.scales.yAxes[0].ticks.suggestedMin=min;
        config.options.scales.yAxes[0].ticks.suggestedMax=max;
        //展示曲线对应的具体网格值
        config.options.title.text="房价曲线图（:"+code+"）";
        //给曲线随机赋颜色值
        for(var i=0;i<config.data.datasets.length;i++){
            config.data.datasets[i].borderColor = randomColor(0.4);
            config.data.datasets[i].backgroundColor = randomColor(0.5);
            config.data.datasets[i].pointBorderColor = randomColor(0.7);
            config.data.datasets[i].pointBackgroundColor = randomColor(0.5);
            config.data.datasets[i].pointBorderWidth = 1;

        }

        return config;
    }
    var rects=[];
    var pricedata;

    function mycolor(r,g,b) {
        var color="rgb("+r+","+g+","+b+")";
        return color;
    }

    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'info legend'),
                color = ['#C70305', '#EA4706','#E97A04', '#E9A708', '#E6CC05', '#E9E507', '#D8EB00', '#B8E705', '#04E738','#06E884','#08E9C7','#03EAE4','#09BAEC','#077BEA','#1411D2'],
                labels =[],
                grades=["[8,+∞]","[8,9]","[7.5,8]","[7,7.5]","[6.5,7]","[6,6.5]","[5.5,6]",
                    "[5,5.5]","[4.5,5]","[4,4.5]","[3.5,4]","[3,3.5]","[2.5,3]","[2,2.5]","[0,2]"],
                from, to;

        for (var i = 0; i < color.length; i++) {

            labels.push(
                    '<i style=\"background:' +  color[i] + '\"></i> ' +grades[i]);
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    legend.addTo(map);

    var gradeOptions = {

        weight: 1,
        fillOpacity: 0.7,
        rotation: 0.0,
        position: {
            x: 0,
            y: 0
        },
        offset: 0,
        innerRadius: 0,
    };
</script>
</body>
</html>