<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>newtest</title>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <link rel="stylesheet" href="/view/生态文明/lib/leaflet/leaflet.css" />
    <link href="/view/生态文明/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/view/生态文明/stylesheets/ui.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/view/生态文明/sidebar-v2-master/css/leaflet-sidebar.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

    <script type="text/javascript" src="/view/生态文明/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/view/生态文明/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="/view/dist/leaflet-dvf.js"></script>
    <script type="text/javascript" src="/view/生态文明/sidebar-v2-master/js/jquery-sidebar.min.js"></script>
    <script type="text/javascript" src="/view/生态文明/sidebar-v2-master/js/leaflet-sidebar.min.js"></script>



    <script type="text/javascript" src='/view/生态文明/lib/leaflet/leaflet.ChineseTmsProviders.js'></script>
    <script src="/view/生态文明/Chart.js-2.1.6/dist/Chart.bundle.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>.legend i{
      height: 18px;
      width:18px;
      float: left;
      margin-right: 8px;
    }</style>
</head>
<body>

<!--div class="navbar navbar-default">
  <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

                &lt;!&ndash;<script type="text/javascript">

                    $("#style").on("onchange",function (e) {
                          console.log(e);
                        console.log($("#style").text());
                    });
                </script>&ndash;&gt;
            &lt;!&ndash;用来显示索引<button type="button" onclick="displayResult()">显示索引</button>&ndash;&gt;

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">中国科学院地理科学与资源研究所</li>
                </ul>
            </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;
        </div>
    </div>
</div>-->
<!--默认导航栏在这里，被注释了-->


<div class="container-fluid">
    <div class="row-fluid">

        <div id="sidebar" class="sidebar collapsed">
            <!-- Nav tabs -->
            <div class="sidebar-tabs">
                <ul role="tablist">
                    <li>
                        <a href="#home" role="tab">
                            <span class="glyphicon glyphicon-align-center"></span>
                        </a>
                    </li>
                    <li><a href="#profile" role="tab">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a></li>
                    <li><a href="#messages" role="tab">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </a></li>
                </ul>

                <ul role="tablist">
                    <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="sidebar-content">
                <div class="sidebar-pane" id="home">

                    <h1 class="sidebar-header">
                        原始数据
                        <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>

                    </h1>

                    <!--下拉列表-->
                    <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="source" class="col-sm-2 control-label">数据来源</label>
                        <select id="source" class ="form-control" style='width:200px;'>
                            <option>请选择</option>
                            <option>我爱我家</option>
                            <option>房天下</option>
                            <option>安居客</option>
                            <option>链家</option>
                            <option>全部</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">房源类型</label>
                        <select id="type" class ="form-control" style='width:200px;'>
                            <option>请选择</option>
                            <option>新房</option>
                            <option>二手房</option>
                            <option>租房</option>
                            <option>求租</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gridValue" class="col-sm-2 control-label">网格颜色意义</label>
                        <select id="gridValue" style='width:200px;'>
                            <option>请选择</option>
                            <option>房价加速度</option>
                            <option>房价</option>
                        </select>
                    </div>
                    </form>

                    <!--标签栏-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#price" role="tab" data-toggle="tab">房价</a></li>
                        <li role="presentation"><a href="#acceleration" role="tab" data-toggle="tab">房价加速度</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="price">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="gridTime" class="col-sm-2 control-label">网格房价时间</label>
                                    <select id="gridTime" style='width:200px;'>
                                        <option>请选择</option>
                                        <option id="201507">2015年07月</option>
                                        <option id="201508">2015年08月</option>
                                        <option id="201509">2015年09月</option>
                                        <option id="201510">2015年10月</option>
                                        <option id="201511">2015年11月</option>
                                        <option id="201512">2015年12月</option>
                                        <option id="201601">2016年01月</option>
                                        <option id="201602">2016年02月</option>
                                        <option id="201603">2016年03月</option>
                                        <option id="201604">2016年04月</option>
                                        <option id="201605">2016年05月</option>
                                        <option id="201606">2016年06月</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="acceleration">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="startTime" class="col-sm-2 control-label">加速度起始时间</label>
                                    <select id="startTime" style='width:200px;'>
                                        <option>请选择</option>
                                        <option>2015年07月</option>
                                        <option>2015年08月</option>
                                        <option>2015年09月</option>
                                        <option>2015年10月</option>
                                        <option>2015年11月</option>
                                        <option>2015年12月</option>
                                        <option>2016年01月</option>
                                        <option>2016年02月</option>
                                        <option>2016年03月</option>
                                        <option>2016年04月</option>
                                        <option>2016年05月</option>
                                        <option>2016年06月</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="endTime" class="col-sm-2 control-label">加速度终止时间</label>
                                    <select id="endTime" style='width:200px;'>
                                        <option>请选择</option>
                                        <option>2015年07月</option>
                                        <option>2015年08月</option>
                                        <option>2015年09月</option>
                                        <option>2015年10月</option>
                                        <option>2015年11月</option>
                                        <option>2015年12月</option>
                                        <option>2016年01月</option>
                                        <option>2016年02月</option>
                                        <option>2016年03月</option>
                                        <option>2016年04月</option>
                                        <option>2016年05月</option>
                                        <option>2016年06月</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="sidebar-pane" id="profile">
                    <h1 class="sidebar-header">
                        插值数据
                        <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
                    </h1>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="chazhi" class="col-sm-2 control-label">是否显示插值数据</label>
                            <select id="chazhi" class ="form-control" style='width:200px;'>
                                <option>请选择</option>
                                <option>否</option>
                                <option>是</option>
                            </select>
                        </div>

                    </form>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="contourline" class="col-sm-2 control-label">是否显示等值线</label>
                            <select id="contourline" class ="form-control" style='width:200px;'>
                                <option>请选择</option>
                                <option>否</option>
                                <option>是</option>
                            </select>
                        </div>

                    </form>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="contourvalue" class="col-sm-2 control-label">选择等值线范围</label>
                            <select id="contourvalue" class ="form-control" style='width:200px;'>
                                <option>请选择</option>
                                <option>2万以下</option>
                                <option>2万——3万</option>
                                <option>3万——4万</option>
                                <option>4万——5万</option>
                                <option>5万——6万</option>
                                <option>6万——7万</option>
                                <option>7万——8万</option>
                                <option>8万——9万</option>
                                <option>9万——10万</option>
                                <option>10万——11万</option>
                                <option>11万——12万</option>
                                <option>全部</option>
                            </select>
                        </div>

                    </form>

                </div>

                <div class="sidebar-pane" id="messages">
                    <h1 class="sidebar-header">学区
                        <span class="sidebar-close"><i class="fa fa-caret-right"></i></span>
                    </h1>

                    <form>
                        小学类型:
                        <select id="schoolType"  style='width:110px;'>
                            <option>无</option>
                            <option>市重点小学</option>
                            <option>区重点小学</option>
                            <option>普通小学</option>
                        </select>
                    </form>

                </div>

                <div class="sidebar-pane" id="settings">
                    <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-right"></i></span></h1>
                </div>
            </div>
        </div>

        <div id="map" class="sidebar-map"></div>
    </div>
    </div>
<div id="myModal" style="margin: 3%;height: 90%; width: 90%"  class="modal fade bs-example-modal-sm" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" style="width: 85%;height: 85%;width: 85%;height: 90%;">
        <!--上一行是调节表格后面的白色模板的-->
        <div class="modal-content" style="width: 90%;height: 90%;width: 90%;height: 90%">
            <!---->
            <!--<h4 id="charttitle"></h4>-->
            <canvas id="myChart" style="width: 90%;height: 90%;width: 90%;height: 90%"></canvas>

        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {


    var map;
    var resize = function () {
        var $map = $('#map');
        $map.height($(window).height() - $('div.navbar').outerHeight());
        if (map) {
            map.invalidateSize();
        }
    };
    $(window).on('resize', function () {
        resize();
    });
    resize();
    var normalm = L.tileLayer.chinaProvider('GaoDe.Normal.Map', {maxZoom: 18, minZoom: 10});
    var imgm = L.tileLayer.chinaProvider('GaoDe.Satellite.Map', {maxZoom: 18, minZoom: 10});
    var imga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion', {maxZoom: 18, minZoom: 10});
    var normal = L.layerGroup([normalm]),
            image = L.layerGroup([imgm, imga]);
    var baseLayers = {
        "地图": normal,
        "影像": image,
    }
    var overlayLayers = {};
    map = L.map("map", {
        layers: [normal],
        zoomControl: true
    }).setView([39.906985851984146, 116.39055488416854], 3);
    map.setView([39.906985851984146, 116.39055488416854], 3);

    var sidebar = L.control.sidebar('sidebar', {position: 'right'}).addTo(map);

    $("#schoolType").change(function () {
        var x = document.getElementById("schoolType").selectedIndex;
        var y = document.getElementById("schoolType").options;
        var schoolType = y[x].text;

        if (schoolType == "市重点小学") {
            for (var i = 0; i < cityfocus.length; i++) {
                map.removeLayer(cityfocus[i]);
            }
            for (var i = 0; i < regionfocus.length; i++) {
                map.removeLayer(regionfocus[i]);
            }
            for (var i = 0; i < ordinary.length; i++) {
                map.removeLayer(ordinary[i]);
            }
            //市重点
            $.post("/static/city_focused", "" + map.getZoom(), function (result) {
                var school = JSON.parse(result);
                draw_circle_cityfocus(school);
            });

        } else if (schoolType == "区重点小学") {
            for (var i = 0; i < cityfocus.length; i++) {
                map.removeLayer(cityfocus[i]);
            }
            for (var i = 0; i < regionfocus.length; i++) {
                map.removeLayer(regionfocus[i]);
            }
            for (var i = 0; i < ordinary.length; i++) {
                map.removeLayer(ordinary[i]);
            }
            //区重点
            $.post("/static/region_focused", "" + map.getZoom(), function (result) {
                var school = JSON.parse(result);
                draw_circle_regionfocus(school);
            });
        } else if (schoolType == "普通小学") {
            for (var i = 0; i < cityfocus.length; i++) {
                map.removeLayer(cityfocus[i]);
            }
            for (var i = 0; i < regionfocus.length; i++) {
                map.removeLayer(regionfocus[i]);
            }
            for (var i = 0; i < ordinary.length; i++) {
                map.removeLayer(ordinary[i]);
            }
            //普通小学
            $.post("/static/ordinary_primary_school", "" + map.getZoom(), function (result) {
                var school = JSON.parse(result);
                draw_circle_ordinary(school);
            });
        }
    });
    $("#chazhi").change(function () {
        var x = document.getElementById("chazhi").selectedIndex;
        var y = document.getElementById("chazhi").options;
        var chazhi = y[x].text;
        if(chazhi=="是"){
            alert("画插值后的网格图");
            console.log("删除之前的网格~");
            var json = {
                "gridTime": "2015年10月"
            };
            $.post("/gridcolor_interpolation", "" + JSON.stringify(json), function (result) {
                var price = JSON.parse(result);
                console.log("开始画网格");
                draw_rectangle_interpolation(price);
            });
        }else {
            alert("请到原始数据栏目中选择条件");
            //拖动地图时能实现不同网格的生成，主要用于同一zoom下的不同范围内的网格生成
            map.on('dragend', function (e) {
                console.log("dragend");
                var bounds = map.getBounds();
                console.log(bounds);
                var west = bounds.getWest();
                var east = bounds.getEast();
                var south = bounds.getSouth();
                var north = bounds.getNorth();
                var zoom = map.getZoom();
                console.log(zoom);

                var x = document.getElementById("gridValue").selectedIndex;
                var y = document.getElementById("gridValue").options;
                var gridValue = y[x].text;
                if (gridValue == "房价加速度") {
                    x = document.getElementById("startTime").selectedIndex;
                    y = document.getElementById("startTime").options;
                    var startTime = y[x].text;

                    x = document.getElementById("endTime").selectedIndex;
                    y = document.getElementById("endTime").options;
                    var endTime = y[x].text;

                    x = document.getElementById("source").selectedIndex;
                    y = document.getElementById("source").options;
                    var source = y[x].text;

                    var json = {
                        "west": west,
                        "east": east,
                        "south": south,
                        "north": north,
                        "zoom": zoom,
                        "starttime": startTime,
                        "endtime": endTime,
                        "source": source
                    };
                    $.post("/gridacceleration", "" + JSON.stringify(json), function (result) {
                        var price = JSON.parse(result);
                        draw_rectangle_Acceleration(bounds, price);
                    });

                } else if (gridValue == "房价") {
                    x = document.getElementById("gridTime").selectedIndex;
                    y = document.getElementById("gridTime").options;
                    var gridTime = y[x].text;

                    x = document.getElementById("source").selectedIndex;
                    y = document.getElementById("source").options;
                    var source = y[x].text;

                    var json = {
                        "west": west,
                        "east": east,
                        "south": south,
                        "north": north,
                        "zoom": zoom,
                        "gridTime": gridTime,
                        "source": source
                    };
                    $.post("/gridcolor", "" + JSON.stringify(json), function (result) {
                        var price = JSON.parse(result);
                        console.log("每移动一次开始画网格");
                        draw_rectangle_houseprice(price);
                    });
                }

                //draw_multiPolyline();画多线
            });

            //缩放地图时能实现不同分辨率下网格的生成，主要用于不同zoom下当前屏幕范围内的网格生成
            map.on('zoomend', function (e) {
                console.log("contetmenux");
                //这里先删除旧的layer
                for (var i = 0; i < rects.length; i++) {
                    map = map.removeLayer(rects[i]);
                }
                rects = [];

                var bounds = map.getBounds();
                console.log(bounds);
                var west = bounds.getWest();
                var east = bounds.getEast();
                var south = bounds.getSouth();
                var north = bounds.getNorth();
                var zoom = map.getZoom();
                console.log(zoom);

                var x = document.getElementById("gridValue").selectedIndex;
                var y = document.getElementById("gridValue").options;
                var gridValue = y[x].text;
                if (gridValue == "房价加速度") {
                    x = document.getElementById("startTime").selectedIndex;
                    y = document.getElementById("startTime").options;
                    var startTime = y[x].text;

                    x = document.getElementById("endTime").selectedIndex;
                    y = document.getElementById("endTime").options;
                    var endTime = y[x].text;

                    x = document.getElementById("source").selectedIndex;
                    y = document.getElementById("source").options;
                    var source = y[x].text;

                    var json = {
                        "west": west,
                        "east": east,
                        "south": south,
                        "north": north,
                        "zoom": zoom,
                        "starttime": startTime,
                        "endtime": endTime,
                        "source": source
                    };
                    $.post("/gridacceleration", "" + JSON.stringify(json), function (result) {
                        var price = JSON.parse(result);
                        draw_rectangle_Acceleration(bounds, price);
                    });

                } else if (gridValue == "房价") {
                    x = document.getElementById("gridTime").selectedIndex;
                    y = document.getElementById("gridTime").options;
                    var gridTime = y[x].text;

                    x = document.getElementById("source").selectedIndex;
                    y = document.getElementById("source").options;
                    var source = y[x].text;

                    var json = {
                        "west": west,
                        "east": east,
                        "south": south,
                        "north": north,
                        "zoom": zoom,
                        "gridTime": gridTime,
                        "source": source
                    };
                    //  "/gridcolor_interpolation"
                    //  "/gridcolor"
                    $.post("/gridcolor", "" + JSON.stringify(json), function (result) {
                        var price = JSON.parse(result);
                        console.log("开始画网格");
                        draw_rectangle_houseprice(price);
                    });
                }

            });
        }
        
    });
    $("#contourline").change(function () {
        var x = document.getElementById("contourline").selectedIndex;
        var y = document.getElementById("contourline").options;
        var contourline = y[x].text;
        if(contourline=="是"){

            /*$.post("/static/contourline/polygon_2", function (result) {
                var contour = JSON.parse(result);
                console.log("开始画等值线");
                draw_multiPolyline(contour,2);
            });*/
            $("#contourvalue").change(function () {

                var x = document.getElementById("contourvalue").selectedIndex;
                var y = document.getElementById("contourvalue").options;
                var contourvalue=y[x].text;
                if(contourvalue=="2万——3万"){
                    $.post("/static/contourline/polygon_2", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,2);
                    });
                }else if(contourvalue=="3万——4万"){
                    $.post("/static/contourline/polygon_3", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,3);
                    });
                }else if(contourvalue=="4万——5万"){
                    $.post("/static/contourline/polygon_4", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,4);
                    });
                }else if(contourvalue=="5万——6万"){
                    $.post("/static/contourline/polygon_5", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,5);
                    });
                }else if(contourvalue=="6万——7万"){
                    $.post("/static/contourline/polygon_6", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,6);
                    });
                }else if(contourvalue=="7万——8万"){
                    $.post("/static/contourline/polygon_7", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,7);
                    });
                }else if(contourvalue=="8万——9万"){
                    $.post("/static/contourline/polygon_8", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,8);
                    });
                }else if(contourvalue=="9万——10万"){
                    $.post("/static/contourline/polygon_9", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,9);
                    });
                }else if(contourvalue=="10万——11万"){
                    $.post("/static/contourline/polygon_10", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,10);
                    });
                }else if(contourvalue=="11万——12万"){
                    $.post("/static/contourline/polygon_11", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,11);
                    });
                }else if(contourvalue=="全部"){
                    $.post("/static/contourline/polygon_2", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,2);
                    });
                    $.post("/static/contourline/polygon_3", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,3);
                    });
                    $.post("/static/contourline/polygon_4", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,4);
                    });
                    $.post("/static/contourline/polygon_5", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,5);
                    });
                    $.post("/static/contourline/polygon_6", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,6);
                    });
                    $.post("/static/contourline/polygon_7", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,7);
                    });
                    $.post("/static/contourline/polygon_8", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,8);
                    });
                    $.post("/static/contourline/polygon_9", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,9);
                    });
                    $.post("/static/contourline/polygon_10", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,10);
                    });
                    $.post("/static/contourline/polygon_11", function (result) {
                        var contour = JSON.parse(result);
                        console.log("开始画等值线");
                        draw_multiPolyline(contour,11);
                    });
                }
            });

        }else {
            //将之前的多线图层删除
            if (polyline_array.length != 0) {
                for (var i = 0; i < polyline_array.length; i++) {
                    map = map.removeLayer(polyline_array[i]);
                }
                polyline_array = [];
            }
        }
    });
    var x_source;
    var y_source;
    var source;
    $("#source").change(function () {
          x_source = document.getElementById("source").selectedIndex;
          y_source = document.getElementById("source").options;
          source = y_source[x_source].text;
    });
    var x_type;
    var y_type;
    var type;
    $("#type").change(function () {
        x_type = document.getElementById("type").selectedIndex;
        y_type = document.getElementById("type").options;
        type = y_type[x_type].text;
    });
    var gridValue;
    var x_gridValue;
    var y_gridValue;
    $("#gridValue").change(function () {
        x_gridValue = document.getElementById("gridValue").selectedIndex;
        y_gridValue = document.getElementById("gridValue").options;
        gridValue = y_gridValue[x_gridValue].text;
    });
    var polygon_array = [];
    var polyline_array = [];
    var cityfocus = [];
    var regionfocus = [];
    var ordinary = [];

    function draw_circle_cityfocus(school) {
        var myIcon = L.icon({
            iconUrl: 'http://c.hiphotos.baidu.com/image/w%3D310/sign=913f487c4336acaf59e090fd4cd88d03/5fdf8db1cb13495453f3e3215e4e9258d0094a81.jpg',
            iconRetinaUrl: 'http://h.hiphotos.baidu.com/image/w%3D310/sign=705c47440255b3199cf9847473a88286/03087bf40ad162d92d4c695919dfa9ec8b13cdd1.jpg',
            iconSize: [50, 94],
            iconAnchor: [22, 94],
            popupAnchor: [-3, -76],
            shadowUrl: 'http://a.hiphotos.baidu.com/image/w%3D310/sign=99ae3420bb19ebc4c0787098b227cf79/7af40ad162d9f2d3b7b32faaa1ec8a136227ccd1.jpg',
            shadowRetinaUrl: 'http://d.hiphotos.baidu.com/image/w%3D310/sign=2dd97543a4af2eddd4f14fe8bd110102/8cb1cb13495409238684683b9a58d109b2de4981.jpg',
            shadowSize: [68, 95],
            shadowAnchor: [22, 94]
        });
        var size = school.data.length;
        var lng;
        var lat;
        var info;
        var title;
        var address;
        var location;
        var type;
        var content;
        var latlng;
        var popup;

        gradeOptions.radius = 10;
        gradeOptions.color = gradeOptions.fillColor = 'hsl(' + 359 + ',100%,70%)';

        for (var i = 0; i < size; i++) {
            info = school.data[i];
            lng = info.longitude;
            lat = info.latitude;
            /*var marker =L.marker([lat,lng,100],{icon: myIcon});*/
            var marker = L.mapMarker([lat, lng, 100], gradeOptions);
            map.addLayer(marker);

            title = info.school;
            location = info.region;
            address = info.address;
            type = info.type;
            content = "<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + title + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">区域:	</span> <span>" + location + "</span></DIV><DIV><span  style=\"font-weight:bold;\">地址:	</span> <span>" + address + "</span></DIV><DIV><span  style=\"font-weight:bold;\">类型:	</span><span>" + type + "<span></DIV>";
            latlng = L.latLng(lat, lng, 100);
            popup = L.popup()
                    .setLatLng(latlng)
                    .setContent(content);
            // .openOn(map);
            marker.bindPopup(popup);

            cityfocus.push(marker);
        }

    }

    function draw_circle_regionfocus(school) {
        var myIcon = L.icon({
            iconUrl: 'http://c.hiphotos.baidu.com/image/w%3D310/sign=913f487c4336acaf59e090fd4cd88d03/5fdf8db1cb13495453f3e3215e4e9258d0094a81.jpg',
            iconRetinaUrl: 'http://h.hiphotos.baidu.com/image/w%3D310/sign=705c47440255b3199cf9847473a88286/03087bf40ad162d92d4c695919dfa9ec8b13cdd1.jpg',
            iconSize: [50, 94],
            iconAnchor: [22, 94],
            popupAnchor: [-3, -76],
            shadowUrl: 'http://a.hiphotos.baidu.com/image/w%3D310/sign=99ae3420bb19ebc4c0787098b227cf79/7af40ad162d9f2d3b7b32faaa1ec8a136227ccd1.jpg',
            shadowRetinaUrl: 'http://d.hiphotos.baidu.com/image/w%3D310/sign=2dd97543a4af2eddd4f14fe8bd110102/8cb1cb13495409238684683b9a58d109b2de4981.jpg',
            shadowSize: [68, 95],
            shadowAnchor: [22, 94]
        });
        var size = school.data.length;
        var lng;
        var lat;
        var info;
        var title;
        var address;
        var location;
        var type;
        var content;
        var latlng;
        var popup;
        gradeOptions.radius = 10;
        gradeOptions.color = gradeOptions.fillColor = 'hsl(' + 285 + ',100%,70%)';
        for (var i = 0; i < size; i++) {
            info = school.data[i];
            lng = info.longitude;
            lat = info.latitude;

            /*var marker =L.marker([lat,lng,100],{icon: myIcon});*/
            var marker = L.mapMarker([lat, lng, 100], gradeOptions);
            map.addLayer(marker);

            title = info.school;
            location = info.region;
            address = info.address;
            type = info.type;
            content = "<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + title + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">区域:	</span> <span>" + location + "</span></DIV><DIV><span  style=\"font-weight:bold;\">地址:	</span> <span>" + address + "</span></DIV><DIV><span  style=\"font-weight:bold;\">类型:	</span><span>" + type + "<span></DIV>";
            latlng = L.latLng(lat, lng, 100);
            popup = L.popup()
                    .setLatLng(latlng)
                    .setContent(content);
            //.openOn(map);
            marker.bindPopup(popup);

            regionfocus.push(marker);
        }
    }

    function draw_circle_ordinary(school) {
        var myIcon = L.icon({
            iconUrl: 'http://c.hiphotos.baidu.com/image/w%3D310/sign=913f487c4336acaf59e090fd4cd88d03/5fdf8db1cb13495453f3e3215e4e9258d0094a81.jpg',
            iconRetinaUrl: 'http://h.hiphotos.baidu.com/image/w%3D310/sign=705c47440255b3199cf9847473a88286/03087bf40ad162d92d4c695919dfa9ec8b13cdd1.jpg',
            iconSize: [50, 94],
            iconAnchor: [22, 94],
            popupAnchor: [-3, -76],
            shadowUrl: 'http://a.hiphotos.baidu.com/image/w%3D310/sign=99ae3420bb19ebc4c0787098b227cf79/7af40ad162d9f2d3b7b32faaa1ec8a136227ccd1.jpg',
            shadowRetinaUrl: 'http://d.hiphotos.baidu.com/image/w%3D310/sign=2dd97543a4af2eddd4f14fe8bd110102/8cb1cb13495409238684683b9a58d109b2de4981.jpg',
            shadowSize: [68, 95],
            shadowAnchor: [22, 94]
        });
        var size = school.data.length;
        var lng;
        var lat;
        var info;
        var title;
        var address;
        var location;
        var type;
        var content;
        var latlng;
        var popup;
        gradeOptions.radius = 10;
        gradeOptions.color = gradeOptions.fillColor = 'hsl(' + 240 + ',100%,70%)';

        for (var i = 0; i < size; i++) {
            info = school.data[i];
            lng = info.longitude;
            lat = info.latitude;
            /*var marker =L.marker([lat,lng,100],{icon: myIcon});*/
            var marker = L.mapMarker([lat, lng, 100], gradeOptions);
            map.addLayer(marker);

            title = info.school;
            location = info.region;
            address = info.address;
            type = info.type;
            content = "<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + title + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">区域:	</span> <span>" + location + "</span></DIV><DIV><span  style=\"font-weight:bold;\">地址:	</span> <span>" + address + "</span></DIV><DIV><span  style=\"font-weight:bold;\">类型:	</span><span>" + type + "<span></DIV>";
            latlng = L.latLng(lat, lng, 100);
            popup = L.popup()
                    .setLatLng(latlng)
                    .setContent(content);
            // .openOn(map);
            marker.bindPopup(popup);

            ordinary.push(marker);
        }
    }

    function draw_multiPolyline(contour,value) {

        //将之前的多线图层删除
        if (polyline_array.length != 0) {
            for (var i = 0; i < polyline_array.length; i++) {
                map = map.removeLayer(polyline_array[i]);
            }
            polyline_array = [];
        }

        var color;
        if(value==2){
            color=mycolor(100,149,237);
        }else if(value==3){
            color=mycolor(0,255,255);
        }else if(value==4){
            color=mycolor(0,139,139);
        }else if(value==5){
            color=mycolor(60,179,113);
        }else if(value==6){
            color=mycolor(0,255,0);
        }else if(value==7){
            color=mycolor(0,100,0);
        }else if(value==8){
            color=mycolor(255,140,0);
        }else if(value==9){
            color=mycolor(255,69,0);
        }else if(value==10){
            color=mycolor(255,0,0);
        }else if(value==11){
            color=mycolor(255,255,255);
        }


        var poly_points = [];//区域
        var poly_line = new L.Polyline([], {
            color: color,
            fillColor: color,
            stroke: true,
            weight: 3,
            smoothFactor: 5,
            fillOpacity: 1,
            opacity: 1
        });//折线

        for(var tag=0;tag<contour.length;tag++){
            var poly_points = [];
            var coordinates=contour[tag].coordinates[0];
            for(var i=0;i<coordinates.length;i++){
                var coordinate=coordinates[i];
                var lng=coordinate[0];
                var lat=coordinate[1];
                var latlng=L.latLng(lat,lng);
                poly_points.push(latlng);
                poly_line.addLatLng(latlng);
            }

            map.addLayer(poly_line);
            polyline_array.push(poly_line);

            poly_line = new L.Polyline([], {
                color: color,
                fillColor: color,
                stroke: true,
                weight: 5,
                smoothFactor: 5,
                fillOpacity: 1,
                opacity: 1
            });//折线

        }

        /*
        这段代码先不要删掉
        var latlngs = [];
        var latlng1 = L.latLng(39.906985851984146, 116.39055488416854);
        var latlng2 = L.latLng(39.905779, 116.319274);
        var latlng3 = L.latLng(39.88311876796353, 116.30383565962735);
        var latlng4 = L.latLng(39.872028939237744, 116.36803340806715);
        var latlng6 = L.latLng(39.906985851984146, 116.39055488416854);
        latlngs.push(latlng1);
        latlngs.push(latlng2);
        latlngs.push(latlng3);
        latlngs.push(latlng4);
        latlngs.push(latlng6);
        var poly = new L.Polygon(latlngs, {
            color: mycolor(0, 0, 205),
            fillColor: mycolor(0, 0, 205),
            stroke: true,
            weight: 1
        });
        var content = "<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + "天安门" + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">位置:	</span> <span>" + "北京天安门" + "</span></DIV><DIV><span  style=\"font-weight:bold;\">类型:	</span><span>" + "文明古迹" + "<span></DIV>";
        var popup = L.popup()
                .setLatLng(latlng1)
                .setContent(content)
                .openOn(map);
        map.addLayer(poly);
        poly_line.bindPopup(popup);
        polygon_array.push(poly);*/

    }

    function draw_rectangle_houseprice(price) {
        var N = price.N;
        var width = 0.0011785999999997187 * N;//每N00m的经度差
        var length = 9.003999999997348E-4 * N;//每N00m的纬度差
        var r_min = price.r_min;
        var r_max = price.r_max;
        var c_min = price.c_min;
        var c_max = price.c_max;

        var row;
        var col;

        //将之前的图层删除
        if (rects.length != 0) {
            for (var i = 0; i < rects.length; i++) {
                map = map.removeLayer(rects[i]);
            }
            rects = [];
        }

        var count = 0;
        for (row = r_min; row <= r_max; row++) {
            for (col = c_min; col <= c_max; col++) {

                var gridcode_js = col + (2000 / N) * (row - 1);
                //网格是从左至右一行一行地填充，故对于某一固定的行，每个网格距离初始网格的经度跨度一直在变，而纬度跨度不变
                var dist_wid = (col - 1) * width;
                var dist_len = (row - 1) * length;
                var bounds = [[39.438283 + dist_len, (115.417284 + dist_wid)], [(39.438283 + length) + dist_len, ((115.417284 + width) + dist_wid)]];//(左下角，右上角)
                var rect;
                var gridvalue = price.data[count];
                var gridcode_java = gridvalue.code;
                var gridcolor = gridvalue.color;
                var gridrow = gridvalue.row;
                var gridcol = gridvalue.col;
                var averageprice = gridvalue.average_price;

                if (gridcode_js == gridcode_java) {
                    if (averageprice != 0) {
                        //console.log(count);
                        rect = L.rectangle(bounds, {
                            color: mycolor(255, 255, 255),
                            opacity: 0.9,
                            fillColor: gridcolor,
                            weight: 1,
                            fillOpacity: 0.6,
                            className: "" + gridcode_java
                        });//,className:gridcode_java
                        rect.index = count;
                        rect.data = price.data[rect.index];

                        rect.on('click', function (e) {
                            var json = {
                                "row": this.data.row,
                                "col": this.data.col,
                                "code": this.data.code,
                                "N": N
                            };

                            $.post("/price", JSON.stringify(json),
                                    function (data) {
                                        var ctx = document.getElementById("myChart").getContext("2d");
                                        pricedata = JSON.parse(data);

                                        var max = pricedata.suggestedMax;
                                        var min = pricedata.suggestedMin;

                                        var grid = JSON.stringify(json);
                                        var gridinfo = JSON.parse(grid);
                                        var info = "编码：" + gridinfo.code + "," + gridinfo.row + "行" + gridinfo.col + "列";
                                        window.myLine = new Chart(ctx, dataStruct(pricedata, info, max, min));
                                        $('#myModal').modal();
                                    }
                            )
                        });

                        rect.addTo(map);
                        rects.push(rect);
                    }
                    count++;
                }
                //count++;
            }
        }

    }

    function draw_rectangle_interpolation(price) {
        var N = price.N;
        var width = 0.0011785999999997187 * N;//每N00m的经度差
        var length = 9.003999999997348E-4 * N;//每N00m的纬度差
        var r_min = price.r_min;
        var r_max = price.r_max;
        var c_min = price.c_min;
        var c_max = price.c_max;

        var row;
        var col;

        //将之前的图层删除
        if (rects.length != 0) {
            for (var i = 0; i < rects.length; i++) {
                map = map.removeLayer(rects[i]);
            }
            rects = [];
        }

        var count = 0;
        for (row = r_min; row <= r_max; row++) {
            for (col = c_min; col <= c_max; col++) {

                var gridcode_js = col + (2000 / N) * (row - 1);
                //网格是从左至右一行一行地填充，故对于某一固定的行，每个网格距离初始网格的经度跨度一直在变，而纬度跨度不变
                var dist_wid = (col - 1) * width;
                var dist_len = (row - 1) * length;
                var bounds = [[39.438283 + dist_len, (115.417284 + dist_wid)], [(39.438283 + length) + dist_len, ((115.417284 + width) + dist_wid)]];//(左下角，右上角)
                var rect;
                var gridvalue = price.data[count];
                var gridcode_java = gridvalue.code;
                var gridcolor = gridvalue.color;
                var gridrow = gridvalue.row;
                var gridcol = gridvalue.col;
                var averageprice = gridvalue.average_price;

                if (gridcode_js == gridcode_java) {
                    if (averageprice != 0) {
                        //console.log(count);
                        rect = L.rectangle(bounds, {
                            color: mycolor(255, 255, 255),
                            opacity: 0.9,
                            fillColor: gridcolor,
                            weight: 1,
                            fillOpacity: 0.6,
                            className: "" + gridcode_java
                        });//,className:gridcode_java
                        rect.index = count;
                        rect.data = price.data[rect.index];

                        rect.on('click', function (e) {
                            var json = {
                                "row": this.data.row,
                                "col": this.data.col,
                                "code": this.data.code,
                                "N": N
                            };

                            $.post("/price", JSON.stringify(json),
                                    function (data) {
                                        var ctx = document.getElementById("myChart").getContext("2d");
                                        pricedata = JSON.parse(data);

                                        var max = pricedata.suggestedMax;
                                        var min = pricedata.suggestedMin;

                                        var grid = JSON.stringify(json);
                                        var gridinfo = JSON.parse(grid);
                                        var info = "编码：" + gridinfo.code + "," + gridinfo.row + "行" + gridinfo.col + "列";
                                        window.myLine = new Chart(ctx, dataStruct(pricedata, info, max, min));
                                        $('#myModal').modal();
                                    }
                            )
                        });

                        rect.addTo(map);
                        rects.push(rect);
                    }
                    count++;
                }
                //count++;
            }
        }

    }

    function draw_rectangle_Acceleration(bounds, price) {
        var west = bounds.getWest();
        var east = bounds.getEast();
        var south = bounds.getSouth();
        var north = bounds.getNorth();
        var N = price.N;
        var width = 0.0011785999999997187 * N;//每N00m的经度差
        var length = 9.003999999997348E-4 * N;//每N00m的纬度差
        var r_min = price.r_min;
        var r_max = price.r_max;
        var c_min = price.c_min;
        var c_max = price.c_max;

        var row;
        var col;

        //将之前的图层删除
        if (rects.length != 0) {
            for (var i = 0; i < rects.length; i++) {
                map = map.removeLayer(rects[i]);
            }
            rects = [];
        }

        var count = 0;
        for (row = r_min; row <= r_max; row++) {
            for (col = c_min; col <= c_max; col++) {

                //网格是从左至右一行一行地填充，故对于某一固定的行，每个网格距离初始网格的经度跨度一直在变，而纬度跨度不变
                var dist_wid = (col - 1) * width;
                var dist_len = (row - 1) * length;
                var bounds = [[39.438283 + dist_len, (115.417284 + dist_wid)], [(39.438283 + length) + dist_len, ((115.417284 + width) + dist_wid)]];//(左下角，右上角)
                var rect;
                var gridvalue = price.data[count];

                var gridcode_java = gridvalue.code;
                var gridcode_js = col + (row - 1) * (2000 / N);

                var gridcolor = gridvalue.color;
                var gridrow = gridvalue.row;
                var gridcol = gridvalue.col;
                var acceleration = gridvalue.acceleration;

                if (acceleration != 0) {
                    rect = L.rectangle(bounds, {
                        color: mycolor(255, 255, 255),
                        opacity: 0.9,
                        fillColor: gridcolor,
                        weight: 1,
                        fillOpacity: 0.6,
                        className: "" + gridcode_js + "," + row + "," + col
                    });//,className:gridcode_java
                    rect.index = count;
                    rect.data = price.data[rect.index];

                    rect.on('click', function (e) {
                        var json = {
                            "row": this.data.row,
                            "col": this.data.col,
                            "code": this.data.code,
                            "N": N
                        };

                        $.post("/price", JSON.stringify(json),
                                function (data) {
                                    var ctx = document.getElementById("myChart").getContext("2d");
                                    pricedata = JSON.parse(data);

                                    var max = pricedata.suggestedMax;
                                    var min = pricedata.suggestedMin;

                                    var grid = JSON.stringify(json);
                                    var gridinfo = JSON.parse(grid);
                                    var info = "编码：" + gridinfo.code + "," + gridinfo.row + "行" + gridinfo.col + "列";
                                    window.myLine = new Chart(ctx, dataStruct(pricedata, info, max, min));
                                    $('#myModal').modal();
                                }
                        )
                    });

                    rect.addTo(map);
                    rects.push(rect);
                }
                count++;
            }
        }

    }

    /*var layerControl = new L.Control.Layers();
    layerControl.addTo(map);*/
    resize();


    //生成随机颜色和尺度
    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
        //return 0;
    };
    var randomColorFactor = function() {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function(opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
    };

    //表格所需要的数据结构
    function dataStruct(parameter, code, max, min){
        var text= ""+ code;
        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "form one",
                    data: [],
                    fill: false,
                    borderDash: [5, 5],
                }, {
                    //hidden: true,
                    label: 'form two',
                    data: [],
                }]
            },
            options:{
                responsive: true,
                title:{
                    display: true,
                    text: "房价曲线图"
                },
                tooltips: {
                    mode: 'label',
                    callbacks: {
                        beforeTitle: function() {
                            return '...beforeTitle';
                        },
                        afterTitle: function() {
                            return '...afterTitle';
                        },
                        beforeBody: function() {
                            return '...beforeBody';
                        },
                        afterBody: function() {
                            return '...afterBody';
                        },
                        beforeFooter: function() {
                            return '...beforeFooter';
                        },
                        footer: function() {
                            return 'Footer';
                        },
                        afterFooter: function() {
                            return '...afterFooter';
                        },
                    }
                },
                hover: {
                    mode: 'dataset'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 15,
                        }
                    }]
                }
            }
        };
        for(var i=0; i < parameter.data.length; i++){
            config.data.labels.push(parameter.data[i].date);
        }
        for(var i= 0; i< parameter.data.length; i++){
            config.data.datasets[0].data.push(parameter.data[i].average_price);
        }
        for(var i=0; i < parameter.data.length; i++){
            config.data.datasets[1].data.push(parameter.data[i].average_price);
        }
        //设置曲线的最大和最小值
        config.options.scales.yAxes[0].ticks.suggestedMin=min;
        config.options.scales.yAxes[0].ticks.suggestedMax=max;
        //展示曲线对应的具体网格值
        config.options.title.text="房价曲线图（:"+ code+"）"; //给曲线随机赋颜色值
        for(var i=0; i<config.data.datasets.length; i++){
            config.data.datasets[i].borderColor = randomColor(0.4);
            config.data.datasets[i].backgroundColor = randomColor(0.5);
            config.data.datasets[i].pointBorderColor = randomColor(0.7);
            config.data.datasets[i].pointBackgroundColor = randomColor(0.5);
            config.data.datasets[i].pointBorderWidth = 1;

        }

        return config;
    }
    var rects=[];
    var pricedata;

    function mycolor(r,g,b) {
        var color= "rgb("+r+","+g+","+b+")";
        return color;
    }

    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'info legend'),
                color = ['#C70305', '#EA4706','#E97A04', '#E9A708', '#E6CC05', '#E9E507', '#D8EB00', '#B8E705', '#04E738','#06E884','#08E9C7','#03EAE4','#09BAEC','#077BEA', '#1411D2'], labels =[], grades=["[8,+∞]","[8,9]", "[7.5,8]","[7,7.5]","[6.5,7]","[6,6.5]", "[5.5,6]", "[5,5.5]","[4.5,5]","[4,4.5]", "[3.5,4]", "[3,3.5]", "[2.5,3]", "[2,2.5]","[0,2]"],
                from, to;

        for (var i = 0; i < color.length; i++) {
            labels.push(
                    '<i style=\"background:' +  color[i] + '\"></i> ' +grades[i]);
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };
    legend.addTo(map);

    var gradeOptions = {

        weight: 1,
        fillOpacity: 0.7,
        rotation: 0.0,
        position: {
            x: 0,
            y: 0
        },
        offset: 0,
        innerRadius: 0,
    };
    })
</script>
</body>
</html>