<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>newtest</title>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }

        .leaflet-tile-pane {
            opacity: 0.2;
        }
    </style>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.css" >
    <link rel="stylesheet" href="lib/leaflet/leaflet.css" />
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/ui.css" rel="stylesheet">


    <script type="text/javascript" src="lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/leaflet/leaflet.js"></script>
    <script src="lib/heatmap/heatmap.min.js"></script>
    <script src="lib/heatmap/leaflet-heatmap.js"></script>
    <script type="text/javascript" src='lib/leaflet/leaflet.ChineseTmsProviders.js'></script>

</head>
<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">房地产曲线图</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">中国科学院地理科学与资源研究所</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div id="map" class="span9"></div>
    </div>
</div>

<canvas id="myChart" width="400" height="400"></canvas>
<script type="text/javascript">
    $(document).ready(function() {
        var canvs = $('canvas');
        for (var cas in canvs) {
            var lineChartData = {
                // x轴的标示
                labels : ["January","February","March","April","May","June","July"],
                // 数据，数组中的每一个object代表一条线
                datasets : [
                    {
                        // 颜色的使用类似于CSS，你也可以使用RGB、HEX或者HSL
                        // rgba颜色中最后一个值代表透明度
                        // 填充颜色
                        fillColor : "rgba(220,220,220,0.5)",
                        // 线的颜色
                        strokeColor : "rgba(220,220,220,1)",
                        // 点的填充颜色
                        pointColor : "rgba(220,220,220,1)",
                        // 点的边线颜色
                        pointStrokeColor : "#fff",
                        // 与x轴标示对应的数据
                        data : [65,59,90,81,56,55,40]
                    },
                    {
                        fillColor : "rgba(151,187,205,0)",
                        strokeColor : "rgba(151,187,205,1)",
                        pointColor : "rgba(151,187,205,1)",
                        pointStrokeColor : "#fff",
                        data : [28,48,40,19,96,27,100]
                    }
                ]

            }
            cas.getContent('2d').line(lineChartData);
        }
    })
    var map;
    var resize = function () {
        var $map = $('#map');

        $map.height($(window).height() - $('div.navbar').outerHeight());

        if (map) {
            map.invalidateSize();
        }
    };

    $(window).on('resize', function () {
        resize();
    });

    resize();

    var normalm = L.tileLayer.chinaProvider('GaoDe.Normal.Map',{maxZoom:18,minZoom:5});
    var imgm = L.tileLayer.chinaProvider('GaoDe.Satellite.Map',{maxZoom:18,minZoom:5});
    var imga = L.tileLayer.chinaProvider('GaoDe.Satellite.Annotion',{maxZoom:18,minZoom:5});
    var normal = L.layerGroup([normalm]),
            image = L.layerGroup([imgm,imga]);

    var baseLayers = {
        "地图":normal,
        "影像":image,
    }
    var overlayLayers = {};

    map = L.map("map",{
        layers:[normal],
        zoomControl:true
    }).setView([39.8, 116.3], 3); /* 39°54'27"，东经116°23'17*/

    map.setView([39.8, 116.3], 3);;
    var layerControl = new L.Control.Layers();

    layerControl.addTo(map);
    resize();

    var bounds = [[38.8076054918,112.3970109742], [39.916985851984146,116.41055488416854]];//(左下角，右上角)
    L.rectangle(bounds, {color: "#ff7800", weight: 1}).bindPopup("<DIV><span style=\"font-weight:bold;\"></span></DIV><HR/><DIV><span>" + "test" + "</span></DIV><BR/><DIV><span  style=\"font-weight:bold;\">位置:	</span> <span>" + "beijing" + "</span></DIV><DIV><span  style=\"font-weight:bold;\">时间:	</span><span>" + "2016-07-07" + "<span></DIV>" ).addTo(map);
    map.fitBounds(bounds);


</script>
</body>
</html>
