<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highcharts Example</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style type="text/css">
        ${demo.css}
    </style>
    <script type="text/javascript">
        var config={
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '1111'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Microsoft Internet Explorer',
                    y: 56.33
                }, {
                    name: 'Chrome',
                    y: 24.03,
                    /*sliced: true,
                    selected: true 是否需要切片*/
                }, {
                    name: 'Firefox',
                    y: 10.38
                }, {
                    name: 'Safari',
                    y: 4.77
                }, {
                    name: 'Opera',
                    y: 0.91
                }, {
                    name: 'Proprietary or Undetectable',
                    y: 0.2
                }]
            }]
        };

        function calldata() {
            var json = {
                "row": 60,
                "col": 75,
                "code": 11875,
                "N": 20
            };
            $.post("/gridinfo", JSON.stringify(json), function (data) {
                config.title.text="户型统计图";
                config.series[0].data=[];
                var len=config.series[0].data.length;
                var json = {
                    "name": "户型",
                    "y": 35
                };
                config.series[0].data.push(json);
                len=config.series[0].data.length;

                config.series[0].data[1].name="户型";
                config.series[0].data[1].y=44;
                len=config.series[0].data.length;


                $('#container').highcharts(config);
                var information = JSON.parse(data);
                var texts;
                var text;

                var house_type=information.house_type;

                var direction=information.direction;

                var floors=information.floors;

                var flooron=information.flooron;

                var area=information.area;

                var price=information.price;

                var unitprice=information.unitprice;

              }
            )
        }

    </script>
</head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="calldata()">Large modal</button>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="container" style="width: 40%;height: 50%;width: 40%;height: 50%"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
