<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="//cdn.bootcss.com/jquery/2.1.0/jquery.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>自动创建表格</title>
    <style type="text/css">
        table{
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 10px;
            border-color: #377199;
            border-collapse: collapse;
            border-style: solid;
        }
        /*设置表格标题的样式*/
        table caption{
            text-align:center;
            font-family : 楷体;
            font-size : 1.5em;
            color:#4B0082;
        }
        /*设置表的字段属性*/
        table th{
            background-color:#FFE4B5;
            border-width: 10px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
            font-size : 2em;
            font-family : 楷体;
        }
        table tr{
            background-color:#C6E2FF;/*#d4e3e5*/
        }
        /*设置单元格的属性*/
        table td{
            border-width: 10px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
            font-size : 2em;
        }
    </style>
    <script type="text/javascript" language="javascript">

        var id=0;
        function add(text1,text2,table_id){

            id++;

            var theTable = document.getElementById(table_id);//table的id

            var rowCount = theTable.rows.length; //获得当前表格的行数

            var row = theTable.insertRow(rowCount);//在tale里动态的增加tr

            row.id=id;
            $("#"+id).attr("onmouseover","this.style.backgroundColor=\'#ffff66\';");
            $("#"+id).attr("onmouseout","this.style.backgroundColor=\'#C6E2FF\';");

            var cell1 = row.insertCell(0);//在tr中动态的增加td
            var cell2 = row.insertCell(0);//在tr中动态的增加td

            var a=$("#"+id).attr("id");
            var b=$("#"+id).attr("onmouseover");
            var c=$("#"+id).attr("onmouseout");

            cell1.innerText=text1;
            cell1.style.cssText="text-align:center";     //tr中内容居中显示
            cell2.innerText=text2;
            cell2.style.cssText="text-align:center";     //tr中内容居中显示

        }
        function moveTr(tr_id,table_id){

            var tb=document.getElementById(table_id);   //获取table

            var tr=document.getElementById(tr_id);  //根据id获取具体的tr

            tb.deleteRow(tr.rowIndex);  //删除行

            unit(); //调用此方法，对界面有些地方的value进行更新
        }
        function tableAssignment(type,tableid) {
            var text;
            var text1;
            var text2;

            var texts=type.split(";");
            for (var m = 0; m < texts.length-1; m++) {
                text=texts[m].split(",");
                text1=text[1];
                text2=text[0];
                add(text1,text2,tableid);
            }
        }
        function calldata() {
            //{"row":60,"col":75,"code":11875,"N":20}
            var json = {
                "row": 60,
                "col": 75,
                "code": 11875,
                "N": 20
            };
            //"unitprice":"4.8257375,3"}
            $.post("/gridinfo", JSON.stringify(json), function (data) {
                var information = JSON.parse(data);
                var house_type=information.house_type;
                tableAssignment(house_type,'house_type');
                var direction=information.direction;
                tableAssignment(direction,'direction');
                var floors=information.floors;
                tableAssignment(floors,'floors');
                var flooron=information.flooron;
                tableAssignment(flooron,'flooron');
                var area=information.area;
                tableAssignment(area,'area');
                var price=information.price;
                tableAssignment(price,'totalprice');
                var unitprice=information.unitprice;
                tableAssignment(unitprice,'unitprice');
             }
            )
        }

    </script>
</head>
<body>

<table width="100%" align="center" style="border-color:rgba(0,0,0,0)">
    <tr style="border-color:rgba(0,0,0,0);background-color:rgba(0,0,0,0)">
        <td width="25%" style="float: left;margin: 0px;padding: 0px;border-color:rgba(0,0,0,0)">
            <table class="table-bordered hovertable" id="house_type">
                <caption>户型</caption>
                <tr>
                    <th align="center">类型</th>
                    <th align="center">数目</th>
                </tr>
            </table>
        </td>
        <td width="25%" style="float: right;margin: 0px;padding: 0px;border-color:rgba(0,0,0,0)">
            <table class="table-bordered hovertable" id="flooron"><!--table-hover:这是bootstrap中的方法，也可以实现鼠标所在位置高亮-->
                <caption>所在楼层</caption>
                <tr>
                    <th align="center">类型</th>
                    <th align="center">数目</th>
                </tr>
            </table>
        </td>
        <td width="25%" style="float: right;margin: 0px;padding: 0px;border-color:rgba(0,0,0,0)">
            <table class="table-bordered hovertable" id="floors"><!--table-hover:这是bootstrap中的方法，也可以实现鼠标所在位置高亮-->
                <caption>总楼层</caption>
                <tr>
                    <th align="center">类型</th>
                    <th align="center">数目</th>
                </tr>
            </table>
        </td>
        <td width="25%" style="float: right;margin: 0px;padding: 0px;border-color:rgba(0,0,0,0)">
            <table class="table-bordered hovertable" id="direction"><!--table-hover:这是bootstrap中的方法，也可以实现鼠标所在位置高亮-->
                <caption>朝向</caption>
                <tr>
                    <th align="center">类型</th>
                    <th align="center">数目</th>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="border-color:rgba(0,0,0,0);background-color:rgba(0,0,0,0)">
        <td width="40%" style="float: right;margin: 0px;padding: 0px;border-color:rgba(0,0,0,0)">
            <table class="table-bordered hovertable" id="unitprice"><!--table-hover:这是bootstrap中的方法，也可以实现鼠标所在位置高亮-->
                <caption>单价(万元/㎡)</caption>
                <tr>
                    <th align="center">类型</th>
                    <th align="center">数目</th>
                </tr>
            </table>
        </td>
        <td width="30%" style="float: right;margin: 0px;padding: 0px;border-color:rgba(0,0,0,0)">
            <table class="table-bordered hovertable" id="area"><!--table-hover:这是bootstrap中的方法，也可以实现鼠标所在位置高亮-->
                <caption>面积(㎡)</caption>
                <tr>
                    <th align="center">类型</th>
                    <th align="center">数目</th>
                </tr>
            </table>
        </td>
        <td width="30%" style="float: right;margin: 0px;padding: 0px;border-color:rgba(0,0,0,0)">
            <table class="table-bordered hovertable" id="totalprice"><!--table-hover:这是bootstrap中的方法，也可以实现鼠标所在位置高亮-->
                <caption>总价(万元)</caption>
                <tr>
                    <th align="center">类型</th>
                    <th align="center">数目</th>
                </tr>
            </table>
        </td>
    </tr>
</table>
<input type="button" value="test" onclick="calldata()">

</body>
</html>