<!DOCTYPE html>

<html>

<head>

    <title>Leaflet Web Map</title>

    <!-- reference to Leaflet CSS -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

    <!-- reference to Leaflet JavaScript -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- set width and height styles for map -->
    <style>
        #map {
            width: 960px;
            height:500px;
        }
    </style>

</head>

<body>

<!-- place holder for map -->
<div id="map"></div>

<script>

    // create map object, tell it to live in 'map' div and give initial latitude, longitude, zoom values
    // pass option to turn scroll wheel zoom off
    var map = L.map('map',{scrollWheelZoom:false}).setView([39.8, 116.3], 15);

    // add base map tiles from OpenStreetMap and attribution info to 'map' div
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // define rectangle geographical bounds
    var bounds = [[39.8076054918,116.3970109742], [39.916985851984146,116.41055488416854]];
    //[[43.64701, -79.39425], [43.64533, -79.38235]];

    // add rectangle passing bounds and some basic styles
    //L.rectangle(bounds, {color: "red", weight: 1}).addTo(map);
    // var bounds = [[54.559322, -5.767822], [56.1210604, -3.021240]];

// create an orange rectangle
L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map);

// zoom the map to the rectangle bounds
map.fitBounds(bounds);

</script>

</body>

</html>